@import "../static/sass/variables/index";
@import "src/static/sass/abstracts/typography-units-calc";

$jumbotron-min-height: rhythm(22);

.LandingPage {
  position: relative;

  &__hero-wrapper {
    position: relative;
    background: var(--surface-color-elevated1);
  }

  &__hero {
    position: relative;

    .Jumbotron {
      min-height: $jumbotron-min-height;
    }

    &-container {
      display: flex;
      padding-left: rhythm(1);
    }
  }

  &__content-section {
    padding: rhythm(2) 15%;
    color: var(--text-color-normal);

    &:nth-child(n) {
      background-color: var(--surface-color-normal);
    }
    &:nth-child(2n) {
      background-color: var(--surface-color-elevated1);
    }

    &-header {
      position: relative;
      font-weight: bold;
      text-align: center;
    }
  }

  &__hero-image-bg {
    position: absolute;
    height: 100%;
    transform-origin: center;
    right: 5%;
    background-position: right 10% center;
    animation: pulse infinite 3s alternate;

    svg {
      height: 100%;
      width: 100%;
      fill: var(--surface-color-elevated2);
      fill-opacity: 0.85;
    }
  }

  &__hero-bg {
    // TODO maybe make it an img tag instead
    position: absolute;
    width: 100%;
    height: 100%;
    transform: scale(0.9);
    background-image: url("../static/images/hero-bg.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right 5% center;
  }
}


.accent-text {
  font-weight: bold;
  color: var(--color-accent);
}

@keyframes pulse {
  from {transform: scale(0.88)}
  to {transform: scale(0.92)}
}
