
.layout-wrapper {
  width: 100vw;
  height: 100vh;
}

.layout-container {
  flex: 1 0 auto;
  display: flex;
  align-items: stretch;
  align-content: stretch;
  flex-direction: column;

  &--auto {
    flex: auto;
  }

  &--scroll {
    overflow: auto;
  }

  &--cutoff {
    overflow: hidden;
  }
}

.layout-bar {
  flex: 0 0 auto;
}
