@import "../../static/sass/variables/index";
@import "src/static/sass/abstracts/typography-units-calc";

$list-elements-bottom-margin: rhythm(0.25);
$footer-content-padding: rhythm(2);

.Footer {
  padding: $footer-content-padding;
  background-color: var(--surface-color-normal);

  &__info-section {
    > label {
      font-weight: bold;
      display: inline-block;
      color: var(--text-color-normal);
      margin-bottom: $list-elements-bottom-margin;
    }

    a {
      color: var(--text-color-body1);
      font-size: map-get($font-sizes, small);

      &:hover {
        color: var(--color-accent);
      }
    }

    ul {
      list-style: none;

      > li:not(:last-child) {
        margin-bottom: $list-elements-bottom-margin;
      }
    }
  }
}
