@import "../../static/sass/variables/index";
@import "src/static/sass/abstracts/typography-units-calc";


.Steps__container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .Step {
    justify-content: center;

    &__content {
      align-self: center;
      padding: rhythm(0.5);
      margin-bottom: rhythm(2);
      background-color: var(--surface-color-normal);
      border: 2px solid var(--surface-color-elevated2);
      border-radius: 5px;

      &-description {
        font-size: map-get($font-sizes, small);
        color: var(--text-color-body1);
      }
    }

    &__count {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;

      &--first {
        .Step__count-leading-bar {
          width: 0;
        }
      }

      &--last {
        .Step__count-trailing-bar {
          width: 0;
        }
      }
    }

    &__count-leading-bar, &__count-trailing-bar {
      width: 3px;
      background-color: var(--color-accent);
      height: 100%;
    }

    &__count-point {
      font-size: 18px;
      font-weight: bold;
      color: var(--color-brand);
      background-color: var(--color-accent);
      box-sizing: content-box;
      border-radius: 50%;
      line-height: 34px;
      width: 34px;
      text-align: center;
    }

    &__image {
      max-height: 15rem;
      margin-bottom: rhythm(2);
    }
  }
}
