

///// Palette

$colors: (
        // TODO name colors
        white: #ffffff,
        lightgrey: #f6f6f6,
        grey: #cacaca,
);

$surface-colors: (
        normal: map_get($colors, white),
        light: map_get($colors, lightgrey),
        paper: #0e4399,
        brand: rgb(6,40,93),
        accent: #FBA000,
        secondary: #0B3372,
        highlight: #deeefd,
        disabled: map_get($colors, grey)
);

$text-colors: (
        normal: map-get($colors, white),
        brand: #06285D,
        secondary: rgb(6,40,93),
        accent: #FBA000,
        // text color with highest emphasis then we decrease opacity
        body1: rgba(255, 255, 255, 0.87),
        body2: rgba(255, 255, 255, 0.6),
        body3: rgba(255, 255, 255, 0.4),
        inverse: map_get($colors, white),
        link: #5583c3,
        hover: #456FAB
);


/////


///// Typography
// rhythm etc...

/////


:export {
  surfaceNormal: map-get($surface-colors, normal);
  surfaceBrand: map-get($surface-colors, brand);
  surfacePaper: map-get($surface-colors, paper);
  surfaceSecondary: map-get($surface-colors, secondary);
  surfaceAccent: map-get($surface-colors, accent);
  textBody1: map-get($text-colors, body1);
  textBody2: map-get($text-colors, body2);
  textBody3: map-get($text-colors, body3);
}
