$colors: (
        // TODO name colors
        white: #ffffff,
        lightgrey: #f6f6f6,
        grey: #cacaca,
);

$surface-colors: (
        normal: map_get($colors, white),
        light: map_get($colors, lightgrey),
        paper: #0e4399,
        brand: #06285D,
        accent: #FBA000,
        secondary: rgb(6,40,93),
        highlight: #deeefd,
        disabled: map_get($colors, grey)
);

$text-colors: (
        main: #2e2f32,
        brand: #06285D,
        dark: #444445,
        secondary: rgb(6,40,93),
        accent: #FBA000,
        inverse: map_get($colors, white),
        link: #5583c3,
        hover: #456FAB,
        disabled: map_get($colors, grey)
);


:export {
  surfaceNormal: map-get($surface-colors, normal);
  surfaceBrand: map-get($surface-colors, brand);
  surfacePaper: map-get($surface-colors, paper);
  surfaceSecondary: map-get($surface-colors, secondary);
  surfaceAccent: map-get($surface-colors, accent);
  textColors: #ffffff;
}
