@import "src/static/sass/abstracts/typography-units-calc";
@import "../../static/sass/variables/index";

.Logo {
  position: relative;
  display: inline-flex;
  align-items: center;
  max-height: 100%;
  transition: 200ms transform;

  &__image-wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    box-sizing: content-box;
    justify-content: center;
    width: 100%;
    height: auto;
    min-height: 2.5rem;
    min-width: 2.5rem;
    max-width: 2.5rem;
    padding: rhythm(0.25);
  }

  &__image {
    flex-shrink: 0;
    position: relative;
    width: 100%;
    height: auto;
  }

  &__underlay {
    position: absolute;
    background-color: var(--color-accent);
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  &__brand-link {
    flex-shrink: 0;
    margin-left: rhythm(0.5);
    text-decoration: none;
    text-transform: capitalize;
    color: var(--color-accent);
    font-weight: bold;

    &:hover {
      color: var(--color-accent);
      text-decoration: none;
    }
  }
}
