@import "../../static/sass/mixins/typography-units-calc";

.Logo {
  position: relative;
  box-sizing: content-box;
  display: flex;
  align-items: center;
  justify-content: center;

  &__image {
    position: relative;
    width: 100%;
    height: auto;
    max-width: 2.5rem;
    padding: rhythm(0.25);
  }

  &__underlay {
    position: absolute;
    background-color: #FBA000;
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}
