@import "../../static/sass/variables.module";
@import "../../static/sass/mixins/typography-units-calc";

$toolbar-height: rhythm(3);

.MainNavigation {
  background-color: map-get($surface-colors, brand) !important;

  &__container {
    height: $toolbar-height;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }

  &__links {
    display: flex;
    align-items: center;
  }

  &__logo-container {
    transition: 200ms transform;

    &:hover {
      transform: scale(1.05);
    }
  }

  nav {
    > ul {
      display: flex;
      list-style: none;

      > li {
        margin-right: rhythm(1.5);
      }

      a {
        color: map-get($text-colors, inverse);
        text-decoration: none;
        font-weight: bold;

        &:hover {
          color: map-get($text-colors, accent);
        }
      }
    }
  }
}
