@import "../../static/sass/variables/index";
@import "src/static/sass/abstracts/typography-units-calc";

$toolbar-height: rhythm(3);

.MainNavigation {
  background-color: var(--surface-color-normal) !important;

  &__container {
    height: $toolbar-height;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }

  &__links {
    display: flex;
    align-items: center;
  }

  &__actions {
    display: flex;
    align-items: center;

    > a {
      display: inline-block;
      margin-right: rhythm(0.5);
    }

    button[aria-pressed] {
      color: var(--text-color-normal);
    }

    button[aria-pressed="false"] {
      color: var(--text-color-body1);
    }
  }

  &__logo-container {
    transition: 200ms transform;

    &:hover {
      transform: scale(1.05);
    }
  }

  nav {
    > ul {
      display: flex;
      list-style: none;

      > li {
        margin-right: rhythm(1.5);
      }

      a {
        color: var(--text-color-body1);
        text-decoration: none;
        font-weight: bold;

        &:hover {
          color: var(--color-accent);
        }
      }
    }
  }
}
