@import "../../static/sass/variables.module";
@import "../../static/sass/mixins/typography-units-calc";

$toolbar-height: rhythm(3);

.MainNavigation {
  background-color: map-get($surface-colors, brand) !important;

  &__container {
    height: $toolbar-height;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }

  &__links {
    display: flex;
    align-items: center;
  }

  &__logo-container {
    display: flex;
    align-items: center;
    max-height: 100%;
    transition: 200ms transform;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__brand {
    margin-left: 0.5rem;
    text-decoration: none;
    text-transform: capitalize;
    color: map-get($surface-colors, accent);
    font-weight: bold;

    &:hover {
      color: map-get($surface-colors, accent);
      text-decoration: none;
    }
  }

  nav {
    > ul {
      display: flex;
      list-style: none;

      > li {
        margin-right: 2em;
      }

      a {
        color: map-get($text-colors, inverse);
        text-decoration: none;
        font-weight: bold;

        &:hover {
          color: map-get($text-colors, accent);
        }
      }
    }
  }
}
