@import "../../static/sass/variables.module";

.ValueCard {
  height: 100%;
  position: relative;
  color: white !important; // TODO ??????

  &__number {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 48px;
    line-height: 48px;
    width: 48px;
    text-align: center;
    font-weight: bold;
    color: map-get($text-colors, brand);
    opacity: 0.5;
  }
}
