@import "../../static/sass/variables/index";
@import "src/static/sass/abstracts/typography-units-calc";

.ValueCard {
  height: 100%;
  position: relative;
  // TODO remove it since it comes from material
  background-color: var(--surface-color-elevated1) !important;
  color: var(--text-color-body1);

  &__header {
    color: var(--text-color-normal);
  }

  &__number {
    position: absolute;
    top: rhythm(0);
    right: rhythm(1.5);
    font-size: map-get($font-sizes, h2) * 2;
    width: rhythm(2);
    text-align: center;
    font-weight: bold;
    color: var(--text-color-body2);
    opacity: 0.5;
    pointer-events: none;

    svg {
      height: 100%;
      width: 100%;
    }
  }
}
